/*
======================
COLORS: https://coolors.co/565264-706677-a6808c-ccb7ae-d6cfcb

White: #eee7e7
Red: #a6808c
Grey: #706677
Dark grey: #565264
======================
*/

* {
	padding: 0;
	margin: 0;
}

.container {
	font-family: sans-serif;
	color: #565264;
	background-color: #eee7e7;
	border: 2px solid #a6808c;
	max-width: 500px;
	box-sizing: border-box;
}

table, th, td {
	border: 2px solid #a6808c;
	border-collapse: collapse;
	box-sizing: border-box;
}

tr, th {
	width: 200px;
	color: #565264;
	padding: 5px;
}

td {
	color: #706677;
	padding: 5px;
}

button {
	padding: 2px 5px;
	background-color: #706677;
	color: #eee7e7;
	border: none;
}

.deleteColumn {
	text-align: center;
}

button:hover {
	background-color: #a6808c;
}