/*
======================
COLORS: https://coolors.co/565264-706677-a6808c-ccb7ae-d6cfcb

White: #eee7e7
Red: #a6808c
Grey: #706677
Dark grey: #565264
======================
*/

* {
	padding: 0;
	margin: 0;
	--button: #735e73;
	--background: #eee7e7;
	--text: #4b4758;
	--highlight: #a6808c;
}

.container {
	font-family: sans-serif;
	color: var(--text);
	background-color: var(--background);
	border: 2px solid var(--highlight);
	box-sizing: border-box;
	width: 50%;
	margin: 20px auto;
}

table, th, td {
	border: 2px solid var(--highlight);
	border-collapse: collapse;
	box-sizing: border-box;
	width: 100%;
}

tr, th, td {
	color: var(--text);
	padding: 5px;
}

td {
	color: var(--button);
}

h1 {
	font-size: 24px;
	padding: 5px;
}

button {
	padding: 2px 5px;
	background-color: var(--button);
	color: var(--background);
	border: none;
}

.taskColumn {
	width: 75%;
	padding-left: 15px;
}

.deleteColumn {
	text-align: center;
	width: 25%;
}

button:hover {
	background-color: var(--highlight);
}

form {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border: inherit;
}

input {
	margin: 5px;
}

.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}